@include font-face("LifehackSans", "#{$url-font}/LifehackSans-Regular/LifehackSans-Regular", "eot" "woff" "woff2" "ttf" "otf") {
	font-weight: 400;
	font-display: swap;
}

@include font-face("LifehackSans", "#{$url-font}/LifehackSans-Medium/LifehackSans-Medium", "eot" "woff" "woff2" "ttf") {
	font-weight: 500;
	font-display: swap;
}

@include font-face("LifehackSans", "#{$url-font}/LifehackSans-Bold/LifehackSans-Bold", "eot" "woff" "woff2" "ttf") {
	font-weight: 700;
	font-display: swap;
}

@include font-face("PTSans", "#{$url-font}/PTSans-Regular/PTSans-Regular", "ttf") {
	font-weight: 400;
	font-display: swap;
}

@include font-face("PTSans", "#{$url-font}/PTSans-Bold/PTSans-Bold", "ttf") {
	font-weight: 700;
	font-display: swap;
}
