.br-desk {
	@include  media(md) {
		display: none;
	}
}
.br-tab {
	display: none;
	@include  media(md) {
		display: block;
	}
	@include  media(sm) {
		display: none;
	}
}
.br-mob {
	display: none;
	@include  media(sm) {
		display: block;
	}
}
.p {
	font-family: "PTSans", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 19px;
	line-height: 25px;
	color: $text-main-light;
	@include media(sm) {
		font-size: 16px;
		line-height: 21px;
	}
}

.header {
	position: relative;
	padding-top: 207px;
	height: 1200px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("../img/header/vegetables/bg_desc_xl.jpg");
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% calc(100% - 85px));
	z-index: 1;
	@include  media(xl) {
		background-image: url("../img/header/vegetables/bg_desc_l.jpg");
	}
	@include  media(md) {
		position: relative;
		padding-top: 0;
		padding-bottom: calc((1055 / 768) * 100%);
		height: auto;
		background-image: url("../img/header/vegetables/bg_tab.jpg");
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% calc(100% - 45px));
	}
	@include  media(sm) {
		padding-top: 0;
		padding-bottom: calc((508 / 320) * 100%);
		height: auto;
		background-image: url("../img/header/vegetables/bg_mob.png");
		clip-path: none;
	}
	&__inner {
		@include media(md) {
			position: absolute;
			//top: 122px;
			top: calc((122 / 1055) * 100%);
			width: 100%;
		}
		@include media(sm) {
			//top: 54px;
			top: calc((54 / 508) * 100%);
		}
	}
	&__title {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		margin-bottom: 98px;
		margin-left: auto;
		margin-right: auto;
		height: 130px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		background-image: url("../img/header/title/title_bg_desk.png");
		font-family: "LifehackSans", sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 88px;
		line-height: 88%;
		color: $text-main;
		@include  media(md) {
			height: 214px;
			width: 548px;
			margin-bottom: calc(20% - 50px);
			background-image: url("../img/header/title/title_bg_tab.png");
		}
		@include  media(sm) {
			//height: 107px;
			height: calc((((107 / 2) / 320) * 100vw) + (107px / 2));
			//width: 284px;
			width: calc((284 / 320) * 100vw);
			//margin-bottom: 4px;
			margin-bottom: calc(20% - 60px);
			//font-size: 44px;
			font-size: calc((((44 / 2) / 320) * 100vw) + (44px / 2));
			line-height: 87%;
		}
	}
	&__pack-set {
		position: relative;
		height: 496px;
		margin: auto;
		@include  media(md) {
			height: calc(((335 / 768) * 100vw));
		}
	}
	&__packs {
		position: absolute;
		display: block;
		top: 0;
		left: 50%;
		transition: margin-top ease 0.3s;
		&:hover {
			margin-top: -10px;
		}
		&_1 {
			width: 490px;
			transform: translateX(-556px);
			@include  media(md) {
				width: calc((490 / 1240) * 100vw);
				transform: translateX(calc((-556 / 1240) * 100vw));
			}
			@include  media(sm) {
				width: calc((490 / 1240) * 120vw);
				transform: translateX(calc(((-556 / 1240) * 120vw) + 10px));
			}
		}
		&_2 {
			width: 372px;
			top: -16px;
			transform: translate(-50%, 0);
			@include  media(md) {
				width: calc((372 / 1240) * 100vw);
			}
			@include  media(sm) {
				width: calc((372 / 1240) * 120vw);
				transform: translateX(calc(-50% + 10px));
			}
		}
		&_3 {
			width: 432px;
			top: 5px;
			transform: translate(71px, 0);
			@include  media(md) {
				width: calc((432 / 1240) * 100vw);
				transform: translateX(calc((71 / 1240) * 100vw));
			}
			@include  media(sm) {
				width: calc((432 / 1240) * 120vw);
				transform: translateX(calc(((71 / 1240) * 120vw) + 10px));
			}
		}
	}
	&__subtitle-wrap {
		position: relative;
		margin-top: -27px;
		@include  media(md) {
			margin-top: -49px;
			padding-bottom: 27px;
		}
		@include  media(sm) {
			margin-top: -12px;
			padding-bottom: 0;
		}
	}
	&__subtitle {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 587px;
		font-family: "LifehackSans", sans-serif;
		font-style: normal;
		font-weight: 800;
		font-size: 44px;
		line-height: 107%;
		text-align: center;
		color: $text-main;
		@include  media(lg) {
			width: 505px;
		}
		@include  media(md) {
			width: 100%;
		}
		@include  media(sm) {
			//font-size: 24px;
			font-size: calc((24 / 320) * 100vw);
		}
		mark {
			background-color: transparent;
			color: #ab3939;
		}
	}
	&__tile {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		@include  media(md) {
			top: 100%;
			transform: none;
		}
		&_left {
			left: 0;
			width: 265px;
			@include  media(lg) {
				width: 222px;
			}
			@include  media(md) {
				width: 265px;
			}
			@include  media(sm) {
				left: -10px;
				//width: 132px;
				width: calc((132 / 320) * 100%);
			}
		}
		&_right {
			right: 0;
			width: 280px;
			@include  media(lg) {
				width: 234px;
			}
			@include  media(md) {
				width: 280px;
			}
			@include  media(sm) {
				right: -13px;
				//width: 163px;
				width: calc((163 / 320) * 100%);
			}
		}
	}
}
.main {
	position: relative;
	margin-top: -85px;
	padding-top: 85px + 31px;
	z-index: 1;
	@include media(lg) {
		padding-top: 85px + 41px;
	}
	@include media(md) {
		margin-top: -46px;
		padding-top: 46px + 15px;
	}
	@include media(sm) {
		padding-top: 46px + 98px;
	}
	&__img-wrap {
		position: relative;
	}
	&__img-tomato {
		position: absolute;
		top: -100px;
		left: -215px;
		width: 372px;
		@include media(lg) {
			left: -295px;
		}
		@include media(md) {
			top: -144px;
			left: -167px;
			width: 263px;
		}
		@include media(sm) {
			top: -140px;
			left: -80px;
			width: 198px;
		}
	}
	&__img-broccoli {
		position: absolute;
		top: -100px;
		right: -187px;
		width: 372px;
		@include media(lg) {
			right: -283px;
		}
		@include media(md) {
			top: -133px;
			right: -184px;
			width: 263px;
		}
		@include media(sm) {
			top: -140px;
			right: -83px;
			width: 198px;
		}
	}
	&__title-wrap {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 95px;
		max-width: 613px;
		@include media(lg) {
			max-width: 520px;
			margin-bottom: 100px;
		}
		@include media(md) {
			max-width: 356px;
			margin-bottom: 18px;
		}
		@include media(sm) {
			max-width: 240px;
		}
	}
	&__title {
		position: relative;
		margin-bottom: 11px;
		font-family: "LifehackSans", sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 53px;
		line-height: 90%;
		text-align: center;
		letter-spacing: 0.015em;
		color: $text-main;
		@include media(lg) {
			font-size: 45px;
		}
		@include media(md) {
			margin-bottom: 0;
			font-size: 53px;
		}
		@include media(sm) {
			font-size: 35px;
		}
		&:before {
			content: "";
			position: absolute;
			top: -26px;
			left: -100px;
			width: 100px;
			height: 105px;
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			background-image: url("../img/main/title/left.png");
			@include media(md) {
				top: 20px;
				left: -100px;
				width: 112px;
				height: 117px;
			}
			@include  media(sm) {
				top: 20px;
				left: -42px;
				width: 57px;
				height: 60px;
			}
		}
		&:after {
			content: "";
			position: absolute;
			top: -14px;
			right: -91px;
			width: 100px;
			height: 105px;
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			background-image: url("../img/main/title/right.png");
			@include media(md) {
				top: 13px;
				right: -91px;
				width: 100px;
				height: 119px;
			}
			@include  media(sm) {
				top: 20px;
				right: -42px;
				width: 57px;
				height: 60px;
			}
		}
	}
	&__title-img {
		display: block;
		margin-right: auto;
		margin-left: auto;
		width: 150px;
		height: 50px;
		@include media(md) {
			display: none;
		}
	}
}
.toggler-input {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	z-index: -1;
}
.toggler {
	display: none;
	@include media(md) {
		display: flex;
	}
	&__btn {
		width: 50%;
		padding-bottom: 5px;
		border-bottom-style: solid;
		border-bottom-width: 4px;
		border-bottom-color: rgba(77, 61, 47, 0.31);
		margin-bottom: 44px;
		font-family: "PTSans", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 26px;
		line-height: 93%;
		@include media(sm) {
			margin-bottom: 30px;
		}
		&_left {
			text-align: left;
			border-bottom-color: #b51111;
			font-weight: 700;
		}
		&_right {
			text-align: right;
		}
	}
}
.dish {
	position: relative;
	height: 100%;
	padding: 45px 25px 60px 45px;
	transition: opacity 0.3s;
	@include media(lg) {
		padding: 36px 21px 30px 37px;
	}
	@include media(md) {
		padding: 43px 21px 61px 44px;
	}
	@include media(sm) {
		padding: 28px 21px 50px 22px;
	}
	&:after, &:before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
		height: 20px;
		@include media(sm) {
			height: calc((11 / 320) * 100vw);
		}
	}
	&:after {
		top: 0;
		transform: translate(0, -50%);
	}
	&:before {
		bottom: 0;
		transform: translate(0, 50%);
	}
	&_left {
		background: url("../img/main/dish/soup/bg.jpg") repeat-y center/cover;
		&:after {
			background: url("../img/main/dish/soup/edge.png") no-repeat center/contain;
		}
		&:before {
			background: url("../img/main/dish/soup/edge.png") no-repeat center/contain;
		}
		@include media(md) {
			opacity: 1;
		}
	}
	&_right {
		background: url("../img/main/dish/pasta/bg.jpg") repeat-y center/cover;
		&:after {
			background: url("../img/main/dish/pasta/edge.png") no-repeat center/contain;
		}
		&:before {
			background: url("../img/main/dish/pasta/edge.png") no-repeat center/contain;
		}
		@include media(md) {
			position: absolute;
			clip: rect(0, 0, 0, 0);
			overflow: hidden;
			opacity: 0;
		}
	}
	&__header {
		margin-bottom: 20px;
		font-family: "PTSans", sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 26px;
		line-height: 93%;
		color: #ffed00;
		@include media(lg) {
			margin-bottom: 23px;
			font-size: 22px;
		}
		@include media(md) {
			margin-bottom: 20px;
			font-size: 26px;
		}
		@include media(sm) {
			display: none;
		}
	}
	&__title {
		height: 85px;
		margin-bottom: 0;
		font-family: "LifehackSans", sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 53px;
		line-height: 90%;
		letter-spacing: 0.015em;
		color: $text-main-light;
		@include media(sm) {
			height: auto;
			margin-bottom: 10px;
			font-size: 35px;
		}
	}
	&__time {
		position: absolute;
		top: 22px;
		right: 22px;
		background-color: #ffffff;
		border-radius: 13.6642px;
		padding: 6px 12px;
		font-family: "PTSans", sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 22px;
		line-height: 93%;
		text-align: center;
		@include media(lg) {
			top: 27px;
			right: 19px;
			padding: 5px 10px;
			font-size: 18px;
		}
		@include media(md) {
			top: 22px;
			right: 22px;
			padding: 6px 12px;
			font-size: 22px;
		}
		@include media(sm) {
			position: static;
			max-width: 114px;
		}
		&_color_1 {
			color: #b51111;
		}
		&_color_2 {
			color: #a1613d;
		}
	}
	&__img-area {
		position: relative;
		height: 520px;
		@include media(lg) {
			height: 420px;
		}
		@include media(md) {
			height: 520px;
		}
		@include media(sm) {
			height: 322px;
		}
	}
	&__img {
		position: absolute;
		top: 45px;
		left: 35px;
		width: 410px;
		@include media(lg) {
			top: 20px;
			left: 31px;
			width: 348px;
		}
		@include media(md) {
			top: 45px;
			left: 35px;
			width: 410px;
		}
		@include media(sm) {
			top: 35px;
			left: 50%;
			transform: translate(-50%, 0);
			width: 241px;
		}
	}
	&__leaf {
		position: absolute;
		&_soup {
			top: -45px;
			right: 36px;
			width: 104px;
			@include media(lg) {
				width: 88px;
			}
			@include media(md) {
				width: 104px;
			}
			@include media(sm) {
				top: -12px;
				right: 5px;
				width: 66px;
			}
		}
		&_pasta {
			top: -15px;
			right: 62px;
			width: 106px;
			@include media(lg) {
				width: 90px;
				top: -37px;
				right: 53px;
			}
			@include media(md) {
				top: -15px;
				right: 62px;
				width: 106px;
			}
			@include media(sm) {
				top: -40px;
				right: 5px;
				width: 77px;
			}
		}
	}
	&__dash {
		position: absolute;
		&_soup {
			bottom: 56px;
			right: 36px;
			width: 59px;
			@include media(lg) {
				width: 50px;
			}
			@include media(md) {
				width: 59px;
			}
			@include media(sm) {
				bottom: 39px;
				right: 5px;
				width: 38px;
			}
		}
		&_pasta {
			bottom: 56px;
			left: -6px;
			width: 95px;
			@include media(lg) {
				width: 81px;
			}
			@include media(md) {
				width: 95px;
			}
			@include media(sm) {
				bottom: 39px;
				left: -20px;
				width: 56px;
			}
		}
	}
	&__recipe {
		padding-left: 0;
		margin-bottom: 35px;
		@include media(lg) {
			margin-bottom: 30px;
		}
		@include media(sm) {
			margin-bottom: 21px;
		}
	}
	&__recipe-item {
		position: relative;
		list-style: none;
		margin-bottom: 22px;
		padding-left: 75px;
		min-height: 50px;
		@include media(lg) {
			margin-bottom: 17px;
			padding-left: 64px;
		}
		@include media(md) {
			margin-bottom: 22px;
			padding-left: 75px;
		}
		@include media(sm) {
			padding-left: 46px;
		}
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 50px;
			height: 50px;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			@include media(lg) {
				width: 43px;
				height: 43px;
			}
			@include media(md) {
				width: 50px;
				height: 50px;
			}
			@include media(sm) {
				width: 33px;
				height: 33px;
			}
		}
		&_1 {
			&:before {
				content: "";
				background-image: url("../img/main/dish/numbers/1.png");
			}
		}
		&_2 {
			&:before {
				content: "";
				background-image: url("../img/main/dish/numbers/2.png");
			}
		}
		&_3 {
			&:before {
				content: "";
				background-image: url("../img/main/dish/numbers/3.png");
			}
		}
		&_4 {
			&:before {
				content: "";
				background-image: url("../img/main/dish/numbers/4.png");
			}
		}
	}
	&__note {
		margin-bottom: 29px;
		@include media(md) {
			margin-bottom: 34px;
		}
	}
}
.dots {
	display: none;
	cursor: pointer;
	@include media(md) {
		display: flex;
		justify-content: center;
		padding-top: 35px + 10px;
	}
	@include media(sm) {
		display: none;
	}
	&__dot {
		width: 10px;
		height: 10px;
		margin: 0 5px;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		&_left {
			background-image: url("../img/main/dots/dark_dot.png");
		}
		&_right {
			background-image: url("../img/main/dots/light_dot.png");
		}
	}
}
#toggler:checked ~ .toggler .toggler__btn {
	&_right {
		border-bottom-color: #b51111;
		font-weight: 700;
	}
	&_left {
		border-bottom-color: rgba(77, 61, 47, 0.31);
		font-weight: 400;
	}
}
#toggler:checked ~ .row .dish {
	&_left {
		@include media(md) {
			position: absolute;
			clip: rect(0, 0, 0, 0);
			overflow: hidden;
			opacity: 0;
		}
	}
	&_right {
		@include media(md) {
			position: relative;
			opacity: 1;
			overflow: visible;
		}
	}
}
#toggler:checked ~ .dots .dots__dot{
	&_left {
		background-image: url("../img/main/dots/light_dot.png");
	}
	&_right {
		background-image: url("../img/main/dots/dark_dot.png");
	}
}
.footer {
	padding: 60px 0 64px;
	text-align: center;
	font-family: "LifehackSans", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 53px;
	line-height: 90%;
	letter-spacing: 0.015em;
	color: $text-main;
	@include media(md) {
		padding: 35px 0 82px;
	}
	@include media(sm) {
		padding: 38px 0 40px;
		font-size: 35px;
	}
}
