// Общие настройки
$font-formats: ("eot", "woff", "ttf"); // Доступны в snippets - eot, woff2, woff, ttf, svg
$url-img: "../img"; // Путь к изображениям
$url-font: "../fonts"; // Путь к шрифтам
$url-img-libs: "../" + $url-img; // Путь к изображениям (для библиотек)
$url-font-libs: "../" + $url-font; // Путь к шрифтам (для библиотек)

// Переменные цветов
$text-main: #4d3d2f;
$text-main-light: #ffffff;

// Настройки брэкпоинтов (+25 для полосы прокрутки на десктопах)
// prettier-ignore
$breakpoints: (
	//xxs: 0,
	xs: 0,
	sm: 320px,
	md: 768px,
	lg: 1240px,
	xl: 1440px,
	xxl: 1920px
) !default;

// Настройки контейнера
// prettier-ignore
$max-widths: (
	//xxs: 100%,
	xs: 100%,
	sm: 100%,
	md: 595px + 36px,
	lg: 1044px + 36px,
	xl: 1225px + 36px,
	xxl: 1225px + 36px
) !default;

$grid-gutter-width: 36px !default; // Отступ между колонками ( сумма падингов одной колонки )
$grid-columns: 12 !default; // Количество колонок

// Импорт вспомогательных сниппетов (всегда в конце)
@import "node_modules/sass-snippets/scss/snippets";
